@{
    ViewBag.Title = "About";
}

<h2>We are a money management application targeting university students.</h2>
<h3>This is our about page. This page will be filled with a description and knowledge base on the application along with tutorial points.</h3>
