@{
    ViewBag.Title = "About";
}

<h1>About Us</h1>
<div class="about">
    Keeping a well balanced budget can not only help you keep on track but also help you sleep better at night. 
    But a well maintaining budget does not means, dig through piles of paper filled with receipts, bills and invoices; 
    recovering cash from various drawers around the house. It’s time to rediscover a new approach to a better balanced 
    budget. With this app you will get a better understanding of your daily, weekly, monthly and annually spending  habits 
    along with you’re saving habits too.
</div>
<p>
    @Html.ActionLink("Chart Issue", "makechart", "Home")
</p>
<p>
    @Html.ActionLink("Chart Style choice", "makechart2", "Home")
</p> 