<head>
    <style type="text/css">
        .auto-style1 {
            width: 129px;
            height: 122px;
        }
        .logo {
            height: 143px;
            width: 243px;
            padding-left: 100px;
        }
    </style>
</head>
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="~/Content/login.css" />
<script src="~/Scripts/prefixfree.min.js"></script>

<div class="jumbotron">
    <h1>Welcome, demo_user<img alt="logo" class="logo" src="../../Content/Images/moneymoney.png" /></h1>
</div>
        <br>
        <div class="login">
            <input type="text" placeholder="username" name="id"><br>
            <input type="password" placeholder="password" name="password"><br>
            <input type="submit" value="submit" id="button">
        </div>

  </form>
