@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Log In Page</h1>
    <p class="lead">This will become the log in page that uses local database entries to validate credentials. </p>
</div>

<div class="row"></div>
<p>
    @Html.ActionLink("Chart", "makechart", "Home")
</p>    
