
@{
    ViewBag.Title = "makechart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>makechart</h2>
@{
    var myChart = new Chart(width: 600, height: 400)
        .AddTitle("Net Monthly Savings")
        .AddSeries(
            name: "Net Monthly Savings",
            xValue: new[] { "August", "September", "October", "November", "December" },
            yValues: new[] { "$1245.26", "$904.65", "$544.21", "$1005.87", "$803.53" })
        .Write();
}

