
@{
    ViewBag.Title = "makechart2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>makechart2</h2>

@{
    var Chart = new Chart(width: 600, height: 400)
        .AddTitle("Net Monthly Savings")
        .AddSeries(
            name: "Net Monthly Savings",
            xValue: new[] { "August", "September", "October", "November", "December" },
            yValues: new[] { "$1245.26", "$1074.65", "$744.21", "$1005.87", "$803.53" })
        .Write();
}